html {
    color: #181818;
    background: #ccc;
    font: menu;
    font-size: 12pt;
}
#wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 3em;
}
#wrapper header div {
    margin: 1em auto;
}
header, article {
    margin: 1em;
    border-radius: 0.5em;
    padding: 1em;
}
article {
    background: white;
}
header {
    color: white;
    background: #191919;
}
header h3 {
    margin-top: -0.4em;
    background: #696969;
    border-radius: 0.5em;
    padding: 0.5em;
}
#url {
    width: 22em;
}
textarea {
    width: 22em;
}
footer {
    font-size: 0.8em;
}
